#submit{
  margin-right: 10px;
  color: #e4e3e8;
  background-color: #7b1fa2;
}
form{
  margin-top: 30px;
}
h1{
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: #7b1fa2;
}
h2{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #7b1fa2;
}
