<h1>Make A Change</h1>
<h2>Be A Volunteer</h2>
<div class="col-xl-12 d-flex justify-content-around">
  <div class="card col-xl-5">
    <div class="card-body">
<form class="form-horizontal col-xl-6 mx-auto"
      autocomplete="off"
      [formGroup]="volunteerValidationForm"
      (ngSubmit)="openVolunteerConfirmationDialog()">
  <div class="form-group mb-0">
    <label class="col-form-label form-group-title font-color font-size-15">
      Name
    </label>
    <input formControlName="name"
           type="text"
           style="text-transform:lowercase"
           placeholder="Enter name"
           class="form-control mb-2">
  </div>
  <div class="form-group mb-0">
    <label class="col-form-label form-group-title font-color font-size-15">
      Surname
    </label>
    <input formControlName="surname"
           type="text"
           style="text-transform:lowercase"
           placeholder="Enter surname"
           class="form-control mb-2">
     <app-control-messages
       [control]="volunteerValidationForm?.get('surname')">
     </app-control-messages>
  </div>
  <div class="form-group mb-0">
    <label class="col-form-label form-group-title font-color font-size-15">
      Address
    </label>
    <input formControlName="adress"
           type="string"
           style="text-transform:lowercase"
           placeholder="Enter adress"
           class="form-control mb-2">
    <app-control-messages
       [control]="volunteerValidationForm?.get('adress')">
     </app-control-messages>
  </div>
  <div class="form-group mb-0">
    <label class="col-form-label form-group-title font-color font-size-15">
      Email
    </label>
    <input formControlName="email"
           type="email"
           style="text-transform:lowercase"
           placeholder="Enter email"
           class="form-control mb-2">
    <app-control-messages
       [control]="volunteerValidationForm?.get('email')">
     </app-control-messages>
  </div>
  <div class="form-group mb-0">
    <label class="col-form-label form-group-title font-color font-size-15">
      Phone Number
    </label>
    <input formControlName="phone"
           type="string"
           style="text-transform:lowercase"
           placeholder="Enter phone number"
           class="form-control mb-2">
    <app-control-messages
      [control]="volunteerValidationForm?.get('phone')">
    </app-control-messages>
  </div>

  <div class="mt-4">
    <button class="btn btn-block log-in-btn"
            [disabled]="volunteerValidationForm.invalid"
            type="submit" id="submit">Submit
    </button>
    <button
      class="btn btn-block log-in-btn"
      (click)="resetForm()"
      type="button">
      Cancel
    </button>
  </div>
</form>
  </div>
</div>
<div class="card col-xl-5">
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Adress</th>
        <th scope="col">Phone Number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!activeVolunteers || activeVolunteers.length === 0">
        <th scope="row"> No volunteers at the moment. </th>
      </tr>
      <tr *ngFor="let volunteer of activeVolunteers; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>{{volunteerService.uppercaseFirstLetter(volunteer.name)}}</td>
        <td>{{volunteerService.uppercaseFirstLetter(volunteer.surname)}}</td>
        <td>{{volunteer.email}}</td>
        <td>{{volunteer.adress}}</td>
        <td>{{volunteer.phone}}</td>
        <td (click)="openRemoveVolunteerDialog(i)">
          <button class="btn btn-primary remove-donation-btn">
            Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
