.custom-img-thumbnail {
  //width: 70px;
  height: 100%;
  width: 70px;
  background-color: transparent;
  border-radius: .5rem;
  //object-fit: cover;
  border: 1px solid #e4e3e8;
  padding: .25rem;
}
