
<div class="modal-header">
  <h5 class="modal-title">Confirm Donation</h5>

  <button type="button" class="close" aria-hidden="true" (click)="closeModal()">×</button>
</div>
<div class="modal-body">
  <p>You are about to donate: <b>{{donation?.amount}}</b> denari</p>
  <p>Thank you <b>{{donateService.uppercaseFirstLetter(donation?.name)}} {{donateService.uppercaseFirstLetter(donation?.surname)}}</b></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirm(); closeModal();">Confirm</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Close</button>
</div>

