
<div class="modal-header">
  <h5 class="modal-title">Confirm Volunteer</h5>

  <button type="button" class="close" aria-hidden="true" (click)="closeModal()">×</button>
</div>
<div class="modal-body">
  <p>You are about to apply to be a volunteer</p>
  <p>Thank you <b>{{volunteerService.uppercaseFirstLetter(volunteers?.name)}} {{volunteerService.uppercaseFirstLetter(volunteers?.surname)}}</b></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirm(); closeModal();">Confirm</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Close</button>
</div>

