#submit{
  margin-right: 10px;
  color: #e4e3e8;
  background-color: #7b1fa2;
}
form{
  margin-top: 30px;
}
h1{
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: #7b1fa2;
}
h2{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #7b1fa2;
}

.remove-donation-btn {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card {
  filter: drop-shadow(0 8px 12px rgba(191,191,191,.2));
  border-radius: 1rem;
  background-color: #fff;
}

input {
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
  color: #28384f;
  transition: all .3s ease-in-out;
  text-transform: lowercase;
}

label {
  color: #192332;
  font-size: .8125rem;
  font-weight: 400;
}

.reset-btn {
  background-color: #eee;
}
