
<h1>Donate To Our Cause</h1>
<h2>Save Our Country</h2>
<div class="col-xl-12 d-flex justify-content-around">
  <div class="card col-xl-5">
    <div class="card-body">
      <form class="form-horizontal"
            autocomplete="off"
            [formGroup]="donateValidationForm"
            (ngSubmit)="openDonationConfirmationDialog()">
        <div class="form-group mb-0">
          <label class="col-form-label form-group-title font-color font-size-15">
            Name
          </label>
          <input formControlName="name"
                 type="text"
                 placeholder="Enter name"
                 class="form-control mb-2">
          <app-control-messages
            [control]="donateValidationForm?.get('name')">
          </app-control-messages>
        </div>
        <div class="form-group mb-0">
          <label class="col-form-label form-group-title font-color font-size-15">
            Surname
          </label>
          <input formControlName="surname"
                 type="text"
                 placeholder="Enter surname"
                 class="form-control mb-2">
          <app-control-messages
            [control]="donateValidationForm?.get('surname')">
          </app-control-messages>
        </div>
        <div class="form-group mb-0">
          <label class="col-form-label form-group-title font-color font-size-15">
            Amount
          </label>
          <input formControlName="amount"
                 type="number"
                 placeholder="Enter amount"
                 class="form-control mb-2">
          <app-control-messages
            [control]="donateValidationForm?.get('amount')">
          </app-control-messages>
        </div>
        <div class="form-group mb-0">
          <label class="col-form-label form-group-title font-color font-size-15">
            Email
          </label>
          <input formControlName="email"
                 type="email"
                 style="text-transform:lowercase"
                 placeholder="Enter email"
                 class="form-control mb-2">
          <app-control-messages
            [control]="donateValidationForm?.get('email')">
          </app-control-messages>
        </div>


        <div class="mt-4">
          <button class="btn btn-primary "
                  [disabled]="donateValidationForm.invalid"
                  type="submit" id="submit">Donate
          </button>
          <button
            class="btn reset-btn"
            (click)="resetForm()"
            type="button">
            Reset
          </button>
        </div>

      </form>
    </div>
  </div>
  <div class="card col-xl-5">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Amount</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!activeDonations || activeDonations.length === 0">
          <th scope="row"> No donations at the moment. </th>
        </tr>
        <tr *ngFor="let donation of activeDonations; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td>{{donateService.uppercaseFirstLetter(donation.name)}}</td>
          <td>{{donateService.uppercaseFirstLetter(donation.surname)}}</td>
          <td>{{donation.email}}</td>
          <td>{{donation.amount}} denari</td>
          <td (click)="openRemoveDonationDialog(i)">
            <button class="btn btn-primary remove-donation-btn">
              Remove
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Total donated amount: {{getTotalDonatedAmount()}} denari</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Donations by Years</h2>
<div class="col-xl-12 d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><img  src="../../assets/images/icon-annual-revenue.svg" alt="annual premium"></h5>
      <h4 class="card-subtitle mb-2 font-weight-bold">Amount: <b>111.500 DEN</b></h4>
      <p class="card-text">Year: <b>2021</b></p>
      <p>This donation helped us get all the trees for the forestation effort for Mt. Vodno</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><img  src="../../assets/images/icon-annual-revenue.svg" alt="annual premium"></h5>
      <h4 class="card-subtitle mb-2 font-weight-bold">Amount: <b>2.251.500 DEN</b></h4>
      <p class="card-text">Year: <b>2020</b></p>
      <p>This donation contributed for the purchase of better cleaning equipment so our volunteers can work more efficiently</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><img  src="../../assets/images/icon-annual-revenue.svg" alt="annual premium"></h5>
      <h4 class="card-subtitle mb-2 font-weight-bold">Amount: <b>1.000.000 DEN</b></h4>
      <p class="card-text">Year: <b>2019</b></p>
      <p>From this donation we managed to build a portable headquarters so we can better organize our efforts</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><img  src="../../assets/images/icon-annual-revenue.svg" alt="annual premium"></h5>
      <h4 class="card-subtitle mb-2 font-weight-bold">Amount: <b>2.456.777 DEN</b></h4>
      <p class="card-text">Year: <b>2018</b></p>
      <p>Thanks to this donation we can finally get enough people to work on the project half time</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><img  src="../../assets/images/icon-annual-revenue.svg" alt="annual premium"></h5>
      <h4 class="card-subtitle mb-2 font-weight-bold">Amount: <b>500.000 DEN</b></h4>
      <p class="card-text">Year: <b>2017</b></p>
      <p>As a celebration on our first ever donation, this helped us organize our first city wide cleaning expedition</p>
    </div>
  </div>
</div>
