/* .example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.custom-img-thumbnail {
  height: 100%;
  width: 70px;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #e4e3e8;
  padding: 0.25rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  margin-bottom:  1rem;
  width: 20rem;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #7b1fa2;
}

.card-title > img {
  width: 15%;
  height: 15%;
}

.icon > img {
  width: 15%;
  height: 15%;
}