<div *ngIf="apiLoaded" class="container">
  <google-map [options]="options" (mapClick)="click($event)"></google-map>
  <h1 id="ime">Volunteers working on the problems:</h1>
  <div class="row">
    <div *ngFor="let volunteer of volunteers; let i = index">
      <div class="card-body col">
        <!-- <h3 class="card-title"><strong>{{ volunteer?.name }} {{ volunteer?.surname }}</strong></h3> -->
        <div class="card p-3 mb-2">
          <!-- <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details"> -->
          <h6 class="mb-0">Volunteer</h6>
          <!-- <span>{{ i * 3 }} days ago</span> -->
          <!-- </div>
          </div>
        </div> -->
          <div class="mt-5">
            <h3 class="heading">
              {{ homeService.uppercaseFirstLetter(volunteer.name) }}
              {{ homeService.uppercaseFirstLetter(volunteer.surname) }}
            </h3>
            <ul>
              <li>Oblast: Aerodrom</li>
              <li>Raboti: Open Burning of Garbage Waste</li>
              <li>Status: Aktiven</li>
            </ul>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
