<div class="image-background">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-4 text-left">
        <h2 class="">СПРЕЧИ ГО ЗАГАДУВАЊЕТО</h2>
        <h2 class="">Превземи акција!</h2>
        <h3 class="">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
          tempora pariatur repudiandae reiciendis iure odit quam veniam
          cupiditate a quod nam obcaecati cumque, dolores tenetur libero velit
          nulla saepe nemo.
        </h3>
      </div>
    </div>
  </div>
</div>

<div #map style="width: 100%; height: 450px"></div>

<div *ngIf="apiLoaded" class="container mt-5 col-xl-12">
  <div class="container col-xl-3">
    <div class="row">
      <div class="col-3 md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><strong>СЛЕДНИ НАСТАНИ</strong></h4>
            <div>
              <ul>
                <li>
                  <div class="icon">
                    <img
                      src="../../assets/images/first-annual-day-calendar-page-interface-symbol.png"
                      alt="date"
                    />
                    09:00 - 12:00
                  </div>
                  <p>Чистење на лисја</p>
                </li>
                <li>
                  <div class="icon">
                    <img
                      src="../../assets/images/april-14-calendar-page-day.png"
                      alt="date"
                    />
                    08:00 - 13:00
                  </div>
                  <p>Собирање отпад од реката Вардар</p>
                </li>
                <li>
                  <div class="icon">
                    <img
                      src="../../assets/images/april-14-calendar-page-day.png"
                      alt="date"
                    />
                    07:30 - 14:30
                  </div>
                  <p>Пошумување на Водно</p>
                </li>
                <li>
                  <div class="icon">
                    <img
                      src="../../assets/images/daily-calendar-page-on-january-11.png"
                      alt="date"
                    />
                    09:00 - 17:00
                  </div>
                  <p>Масовен поттик за учествување на денот на дрвото</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9">
    <h1 class="col-xl-12">Активни волонтери:</h1>
    <div class="col-xl-12 d-flex justify-content-around">
      <div
        class="card m-4"
        style="width: 18rem"
        *ngFor="let volunteer of volunteers"
      >
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../assets/images/volunteer-logo.png" alt="volunteer" />
          </h5>
          <h4 class="card-subtitle mb-2 font-weight-bold">
            Име: <strong>{{ volunteer.name }} {{ volunteer.surname }}</strong>
          </h4>
          <ul>
            <li>Област: Aerodrom</li>
            <li>Работи: Дислоцирање на изгорена пластика</li>
            <li>Статус: Активен</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
